
/* Desktop's & Laptop's */

@media only screen
  and (min-width: 900px) {

  html {
    height: 100%;

    overflow: hidden;
  }

  body {
    height: 100%;
    margin: 0;

    background-color: darkgray;
  }

  /* <----------> Information Section <----------> */

  #infoSection {
    height: 1000px;
    width: 100%;

    padding: 10px;
  }

  #contents {
    height: 1000px;

    overflow-y: scroll !important;
  }

  /* <----------> Navigation Bar <----------> */

  #logoStatementContainer {
    height: 100%;
    width: 75px;

    text-align: center;
  }

  #pageLogo {
    cursor: default;
  }

  #pageStatement {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:0.15cm;
  }

  #navBar {
    height: 100px;
    width: 98%;

    padding: 10px 15px;

    align-items: center;
    
    font-family: "Abel"; font-size: 22px;
    display: flex;
    background-color: white;
  }

  .line {
    height: 50px;
    width: 1px;

    background-color: darkgray;
  }

  .buttonContainer {
    height: 100%;
    width: 19%; 

    justify-content: center;
    align-items: center;
    vertical-align: middle;

    display: flex;
  }
  
  .btn {
    line-height: 50px;
    width: 75%;

    text-align: center;
    
    cursor: pointer;
  }

    .pageButton {
      position: relative;

      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #646464;
      transition: all 0.5s;
    }

    .pageButton:hover {
      color: black;
    }

    .pageButton::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      content: '';

      background-color: rgba(255,255,255,0.1);
      transition: all 0.3s;
    }

    .pageButton:hover::before {
      opacity: 0 ;
      transform: scale(0.5,0.5);
    }

    .pageButton::after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      content: '';
      position: absolute;

      opacity: 0;
      border: 1px solid black;
      transition: all 0.3s;
      transform: scale(1.2,1.2);
    }
    .pageButton:hover::after {
      opacity: 1;
      transform: scale(1,1);
    }
}

/* Tablet's */

/* Smartphone's */

